{{> header}}




    <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Liste des users</h4> </div>

                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="/monitoring">Dashboard</a></li>
                            <li class="active">Gestion User</li>
                        </ol>
                    </div>


                    <!-- /.col-lg-12 -->
                </div>
                <div style="margin-bottom: 30px;">
                     <h2> Ajouter un User</h2>
                    <div>
                        <input type="text" id="login" min="5" placeholder="Name"/>
                        <input type="password" id="password" min="8" placeholder="Mot de passe" />
                        <a id="ajouterClick" class="btn btn-success">Ajouter</a>
                    </div>
                </div>
                <div style="margin-bottom: 30px;">
                     <h2> Ajouter un User à un Groupe</h2>
                    <div>
                        <input type="text" id="login" min="5" placeholder="Name"/>
                        <input type="text" id="groupe" min="8" placeholder="groupe" />
                        <a id="ajouterUserGroupeClick" class="btn btn-success">Ajouter</a>
                    </div>
                </div>
                <!-- /row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Liste User</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="liste">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>

    </div>

    <script>
        var socket = io();

        function supprimer(nom) {
            if(!confirm("Voulez vous supprimer l'utilisateur " + nom + " ?")) {
                return;
            }

            socket.emit("del-utilisateur", nom);
            alert("L'utilisateur " + nom + " a été supprimé");
        }

        socket.on('list-utilisateur', function (data) {
            $("#liste").html(function() {
                var string = "";
                for(var i = 0; i < data.list.length-1; i++) {
                    string += '<tr><td>' + data.list[i] + ' </td><td><a class="btn btn-danger" style="color:red;" onclick="supprimer(\'' + data.list[i] +'\')">Supprimer</a></td></tr>';
                }
                return string += "";
            });
        });

        socket.emit('list-utilisateur', {});

        $("#ajouterClick").click(function() {
            var name = $("#login").val();
            var password = $("#password").val();
            if (name.length < 5 || password.length < 8) {
                alert('Le nom doit faire au moins 5 caractères, le mot de passe au moins 8');
            }

            socket.emit('add-utilisateur', {
                name: name,
                password: password
            });

            alert("L'utilisateur " + name + " a été créé.");
            $("#login").val("");
            $("#password").val("");
        });

        $("#ajouterUserGroupeClick").click(function() {
            var name = $("#login").val();
            var groupe = $("#groupe").val();
            if (name.length < 5 || password.length < 8) {
                alert('Le nom doit faire au moins 5 caractères, le mot de passe au moins 8fdp');
            }

            socket.emit('add-groupe-utilisateur', {
                groupe: groupe,
                utilisateur: utilisateur
            });

            alert("L'utilisateur " + name + " a été créé.");
            $("#login").val("");
            $("#password").val("");
        });
    </script>
{{> footer}}
