{{> header}}
    
    <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Liste des groupes</h4> </div>

                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> 
                        <ol class="breadcrumb">
                            <li><a href="/monitoring">Dashboard</a></li>
                            <li class="active">Gestion Groupe</li>
                        </ol>
                    </div>


                    <!-- /.col-lg-12 -->
                </div>
                <div style="margin-bottom: 30px;">
                     <h2> Ajouter un groupe</h2>
                    <div>
                        <input type="text" id="name" min="5" placeholder="Name" />
                        <a id="ajouterClick" class="btn btn-success">Ajouter</a>
                    </div>
                </div>
                <!-- /row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Liste Groupe</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="liste">
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            
    </div>
    <script>
        var socket = io();
        function supprimer(nom) {
            if(!confirm("Voulez vous supprimer le groupe " + nom + " ?")) {
                return;
            }

            socket.emit("del-groupe", nom);
            alert("Le groupe " + nom + " a été supprimé");
        }
        socket.on('list-groupe', function (data) {
            $("#liste").html(function() {
                var string = "<ul>";
                for(var i = 0; i < data.list.length-1; i++) {
                    string += '<tr><td>' + data.list[i] + ' </td><td><a class="btn btn-danger" style="color:red;" onclick="supprimer(\'' + data.list[i] +'\')">Supprimer</a></td></tr>';
                }
                return string += "</ul>";
            });
        });
        socket.emit('list-groupe', {});    

        $("#ajouterClick").click(function() {
            var name = $("#name").val();
            if (name.length < 5 ) {
                alert('Le nom doit faire au moins 5 caractères');
            }

            socket.emit('add-groupe', name);

            alert("Le groupe " + name + " a été créé.");
            $("#name").val("");
        });
    </script>
{{> footer}}