{{> header }}

	<div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Dashboard</h4> </div>

                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="/monitoring">Dashboard</a></li>

                        </ol>
                    </div>


                    <!-- /.col-lg-12 -->
                </div>

                <!--col -->
                   <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                       <div class="white-box">
                           <div class="col-in row">
                               <div class="col-md-6 col-sm-6 col-xs-6"> <i class="linea-icon linea-basic" data-icon="&#xe00b;"></i>
                                   <h5 class="text-muted vb">CPU <i class='fa fa-bar-chart' aria-hidden='true'></i></h5> </div>
                               <div class="col-md-6 col-sm-6 col-xs-6">
                                   <h3 class="counter text-right m-t-15 text-primary" id="cpucase"></h3> </div>
                               <div class="col-md-12 col-sm-12 col-xs-12">
                                   <div class="progress">
                                       <div class="progress-bar progress-bar-primary" role="progressbar" id="cpucasebar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"> <span class="sr-only">40% Complete (success)</span> </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <!-- /.col -->

                   <!--col -->
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                          <div class="white-box">
                              <div class="col-in row">
                                  <div class="col-md-6 col-sm-6 col-xs-6">
                                      <h5 class="text-muted vb">MEMOIRE <i class='fa fa-database' aria-hidden='true'></i> </h5> </div>
                                  <div class="col-md-6 col-sm-6 col-xs-6">
                                      <h3 class="counter text-right m-t-15 text-primary" id="memcase"></h3> </div>
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                      <div class="progress">
                                          <div class="progress-bar progress-bar-primary" role="progressbar" id="memcasebar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" > <span class="sr-only">40% Complete (success)</span> </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- /.col -->

                      <!--col -->
                         <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                             <div class="white-box">
                                 <div class="col-in row">
                                     <div class="col-md-6 col-sm-6 col-xs-6"> <i class="linea-icon linea-basic" data-icon="&#xe00b;"></i>
                                         <h5 class="text-muted vb">Processus</h5> </div>
                                     <div class="col-md-6 col-sm-6 col-xs-6">
                                         <h3 class="counter text-right m-t-15 text-primary" id="processuscase"></h3> </div>
                                         <div class="col-md-12 col-sm-12 col-xs-12">
                                             <div class="progress">
                                                 <div class="progress-bar progress-bar-primary" role="progressbar" iaria-valuenow="40" aria-valuemin="0" aria-valuemax="100"> <span class="sr-only">40% Complete (success)</span> </div>
                                             </div>
                                         </div>
                                 </div>
                             </div>
                         </div>
                         <!-- /.col -->

                         <!--col -->
                            <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
                                <div class="white-box">
                                    <div class="col-in row">
                                        <div class="col-md-6 col-sm-6 col-xs-6"> <i class="linea-icon linea-basic" data-icon="&#xe00b;"></i>
                                            <h5 class="text-muted vb">Services</h5> </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <h3 class="counter text-right m-t-15 text-primary" id="servicescase"></h3> </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-primary" role="progressbar"  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"> <span class="sr-only">40% Complete (success)</span> </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col -->

                <!-- /row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Memoire  <i class="fa fa-database aria-hidden="true"></i></h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Buffers</th>
                                            <th>Cached</th>
                                            <th>Libre</th>
                                            <th>SwapCached</th>
                                            <th>SwapFree</th>
                                            <th>SwapTotal</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody id="liste-memoire">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <!-- /row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Interface reseau  <i class="fa fa-desktop aria-hidden="true"></i></h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Byte Recu</th>
                                            <th>Packet Recu</th>
                                            <th>Byte Transmis</th>
                                            <th>Packet Transmis</th>
                                        </tr>
                                    </thead>
                                    <tbody id="liste-interfaces">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <!-- /row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Processus  <i class="fa fa-bar-chart aria-hidden="true"></i></h3>
                            <div class="table-responsive table-processus" style="max-height: 200px;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Command</th>
                                            <th>CPU</th>
                                            <th>MEM</th>
                                            <th>PID</th>
                                            <th>User</th>
                                        </tr>
                                    </thead>
                                    <tbody id="liste-processus">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->


                <!-- /row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Services  <i class="fa fa-th-list aria-hidden="true"></i></h3>
                            <div class="table-responsive table-services" style="max-height: 200px;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                        </tr>
                                    </thead>
                                    <tbody id="liste-services">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->


            </div>

    </div>

    <script>
    	$(".table-processus").mCustomScrollbar();
    	$(".table-services").mCustomScrollbar();
        var socket = io();
        setInterval(function(){socket.emit('monitoring', {});},1000);
        socket.on('monitoring', function (data) {
          console.log(data);
          $("#liste-memoire").html(function() {
                var string = "";

                    string += '<tr> <td>' + Math.round(data.memoire.buffers/1024) + ' Mo</td> <td>' + Math.round(data.memoire.cached/1024) + ' Mo</td> <td>' + Math.round(data.memoire.libre/1024) + ' Mo</td> <td>' + Math.round(data.memoire.swapCached/1024) + ' Mo</td> <td>' + Math.round(data.memoire.swapFree/1024) + ' Mo</td> <td>' + Math.round(data.memoire.swapTotal/1024) + ' Mo</td> <td>' + Math.round(data.memoire.total/1024) + ' Mo </td>    </tr>';

                return string;
            });

          $("#liste-interfaces").html(function() {
                var string = "";
                for(var i = 0; i < data.interfaces.length; i++) {
                    string += '<tr> <td>' + data.interfaces[i].name + '</td> <td>' + Math.round(data.interfaces[i].receiveByte/1024) + ' Mo</td> <td>' + Math.round(data.interfaces[i].receivePacket/1024)  + ' Mo</td> <td>' + Math.round(data.interfaces[i].transmitByte/1024)  + ' Mo</td> <td>' + Math.round(data.interfaces[i].transmitPacket/1024) + ' Mo</td> <td>' + '</tr>';
                }
                return string;
            });

          $("#liste-processus").html(function() {
                var string = "";
                for(var i = 1; i < data.processus.length; i++) {
                    string += '<tr> <td>' + data.processus[i].command + '</td> <td>' + data.processus[i].cpu + ' %</td> <td>' + data.processus[i].mem+ ' Go</td> <td>' + data.processus[i].pid+ '</td> <td>' + data.processus[i].user+ '</td> <td>' + '</tr>';
                }
                return string;
            });

          $("#liste-services").html(function() {
                var string = "";
                for(var i = 1; i < data.services.service.length; i++) {
                    string += '<tr> <td>' + data.services.service[i] + '</td> </tr>';
                }
                return string;
            });

            $("#memcase").html(function() {
                  var string = "";

                      string += Math.round(data.memoire.total/1024)+ "Mo" ;

                  return string;
              });

              $("#cpucase").html(function() {
                    var string = "";

                        string += Math.round(data.cpuUse)+ "%" ;

                    return string;
                });

                if($("#cpucasebar").length){
                      var string = Math.round(data.cpuUse);

                      $("#cpucasebar").css("width",string+"%");


                  };

              if($("#memcasebar").length){
                    var string = ((data.memoire.total/1024)*100)/8000 ;

                    $("#memcasebar").css("width",string+"%");


                };

                $("#processuscase").html(function() {
                      var string = data.processus.length;
                      return string;
                  });

                  $("#servicescase").html(function() {
                        var string = data.services.service.length;
                        return string;
                    });


        });

        socket.on('mo', function (data) {

        });
        socket.emit('list-groupe', {});
    </script>
